<div class="container p-3">
  <div class="mb-3">
    <input
      class="me-3 min-w-[200px] rounded border px-3 py-2"
      type="text"
      [(ngModel)]="searchKeyword"
    />
    <button class="rounded border px-3 py-2" (click)="search()">
      Search
    </button>
  </div>
  <div class="mb-3">
    <table>
      <thead>
        <th>Name</th>
        <th colspan="2"></th>
      </thead>
      <tbody>
        @for (item of service.items$(); track item.id) {
          <tr class="mb-3">
            <td class="p-2 inline-block w-[200px] text-ellipsis">{{
              item.name
            }}</td>
            <td class="p-2"><button class="p-2 rounded border px-2 py-1" (click)="delete(item.id, item.name)">Delete</button></td>
            <td class="p-2"><button class="p-2 rounded border px-2 py-1">Edit</button></td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="mb-3">
    <div class="mb-3">
      <label for="" class="me-3"></label>
      <input
        class="me-3 min-w-[200px] rounded border px-3 py-2"
        type="text"
        [(ngModel)]="addCategory.name"
      />
    </div>
    <button class="rounded border px-3 py-2" (click)="add()">
      Add Category
    </button>
  </div>
</div>
